html,
body {
    padding: 0;
    margin: 0;
    @apply tracking-tight
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* .main-menu {
    @apply flex items-center justify-between;
}

.main-menu li a {
    @apply block pr-[45px];
}

.main-menu li a span {
    @apply relative block before: absolute before:left-0 before:bottom-0 before:right-0 before:h-[1px] before:opacity-0 before:bg-white before:transform before:scale-x-[0.2] before:transition before:duration-500 hover:before:opacity-100 hover:before:scale-x-100;
}

.main-menu li.active a span {
    @apply opacity-100 before: before:scale-x-100;
}

.main-menu .navigation>li>ul {
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */


/* .project-area .swiper-container {
    @apply laptop: pb-[100px] pb-[75px];
}

.project-area .swiper-pagination {
    @apply  !bottom-0;
}

.project-area .swiper-pagination .swiper-pagination-bullet {
    @apply  !m-[0_20px_0_0] last:  !mr-0 w-[10px] h-[10px] leading-[10px];
}

.project-area .swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-violet-300;
}

.project-item {
    @apply relative before: absolute before:bg-violet-300 before:w-0 before:h-full before:top-0 before:left-0 before:z-[1] before:pointer-events-none transition before:duration-500 hover:before:w-full;
}

.project-content {
    @apply absolute left-[40px] bottom-[40px] z-[2];
}

.project-category {
    @apply text-white text-[14px] leading-6 uppercase block mb-[15px] transition duration-500 group-hover: text-black;
}

.project-title {
    @apply text-white text-[36px] leading-[43px] transition duration-500 group-hover: text-black;
}

.squares-area {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} */

.button-1 {
    @apply w-40 px-5 py-3 text-sm font-semibold text-white uppercase transition-all duration-300 ease-linear border hover:bg-white bg-violet-500 border-violet-500 hover:text-violet-500 focus:outline-none whitespace-nowrap;
}

.button-2 {
    @apply w-40 px-5 py-3 text-sm font-semibold uppercase transition duration-300 ease-in bg-white border border-white text-violet-500 hover:text-white hover:bg-violet-500 focus:outline-none whitespace-nowrap;
}